<div class="content">
    <div class="container">
      <div class="box">
        <div class="box-title d-flex">
          <i class="far fa-bell text-primary fa-1x mr-3 mt-2"></i>
          <h3 class="flex-1 mb-0">Notifications <span class="badge badge-primary bg-primary">2</span></h3>
          <div class="w-25 input-group ml-auto">
            <input type="text" class="form-control" placeholder="Search" />
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
        <div class="box-body">
          <div class="row row-bt-1 bold">
             <div class="col-xs-2 col-sm-2 pos-rel rel-left-1x">
                 <!-- <i class="far fa-handshake text-primary fa-1x pos-abs abs-left">  </i>-->

                Meeting Created</div> 
            <div class="col-xs-4 col-sm-2">Amit Pandey <span class="text-small">Js, PSCL</span></div>
            <div class="col-xs-8 col-sm-2"><span class="d-block text-secondary2">14 Aug 2020 </span><span class="d-block text-secondary2">12:00 PM</span></div>
            <div class="col-xs-4 col-sm-2">Amit Pandey <span class="text-small">Js, PSCL</span></div>
            <div class="col-xs-12 col-sm-4">
              <a href="meeting_details.html" class="d-block"><span>Review meetings</span> Solid Waste management</a>
              <span class="text-secondary2">14 Aug 2020 12:00 PM</span>
            </div>
          </div>
          <div class="row row-bt-1 bold">
            <div class="col-xs-2 col-sm-2 pos-rel rel-left-1x">
                <!-- <i class="far fa-handshake text-primary fa-1x pos-abs abs-left">  </i> -->

              Meeting Created</div>
            <div class="col-xs-4 col-sm-2">Amit Pandey <span class="text-small">Js, PSCL</span></div>
            <div class="col-xs-8 col-sm-2"><span class="d-block text-secondary2">14 Aug 2020 </span><span class="d-block text-secondary2">12:00 PM</span></div>
            <div class="col-xs-4 col-sm-2">Amit Pandey <span class="text-small">Js, PSCL</span></div>
            <div class="col-xs-12 col-sm-4">
              <a href="meeting_details.html" class="d-block"><span>Review meetings</span> Solid Waste management</a>
              <span class="text-secondary2">14 Aug 2020 12:00 PM</span>
            </div>
          </div>
          <div class="row row-bt-1">
            <div class="col-xs-2 col-sm-2 pos-rel rel-left-1x">
                <!-- <i class="far fa-handshake text-primary fa-1x pos-abs abs-left"> </i> -->

                Meeting Created</div>
            <div class="col-xs-4 col-sm-2">Amit Pandey <span class="text-small">Js, PSCL</span></div>
            <div class="col-xs-8 col-sm-2"><span class="d-block text-secondary2">14 Aug 2020 </span><span class="d-block text-secondary2">12:00 PM</span></div>
            <div class="col-xs-4 col-sm-2">Amit Pandey <span class="text-small">Js, PSCL</span></div>
            <div class="col-xs-12 col-sm-4">
              <a href="meeting_details.html" class="d-block"><span>Review meetings</span> Solid Waste management</a>
              <span class="text-secondary2">14 Aug 2020 12:00 PM</span>
            </div>
          </div>
          <div class="row row-bt-1">
            <div class="col-xs-2 col-sm-2 pos-rel rel-left-1x">
                <!-- <i class="far fa-handshake text-primary fa-1x pos-abs abs-left"></i> -->

            Meeting Created</div>
            <div class="col-xs-4 col-sm-2">Amit Pandey <span class="text-small">Js, PSCL</span></div>
            <div class="col-xs-8 col-sm-2"><span class="d-block text-secondary2">14 Aug 2020 </span><span class="d-block text-secondary2">12:00 PM</span></div>
            <div class="col-xs-4 col-sm-2">Amit Pandey <span class="text-small">Js, PSCL</span></div>
            <div class="col-xs-12 col-sm-4">
              <a href="meeting_details.html" class="d-block"><span>Review meetings</span> Solid Waste management</a>
              <span class="text-secondary2">14 Aug 2020 12:00 PM</span>
            </div>
          </div>
          <div class="row row-bt-1">
            <div class="col-xs-2 col-sm-2 pos-rel rel-left-1x">
                <!-- <i class="far fa-handshake text-primary fa-1x pos-abs abs-left"> </i>-->

                Meeting Created</div>
            <div class="col-xs-4 col-sm-2">Amit Pandey <span class="text-small">Js, PSCL</span></div>
            <div class="col-xs-8 col-sm-2"><span class="d-block text-secondary22">14 Aug 2020 </span><span class="d-block text-secondary2">12:00 PM</span></div>
            <div class="col-xs-4 col-sm-2">Amit Pandey <span class="text-small">Js, PSCL</span></div>
            <div class="col-xs-12 col-sm-4">
              <a href="meeting_details.html" class="d-block"><span>Review meetings</span> Solid Waste management</a>
              <span class="text-secondary2">14 Aug 2020 12:00 PM</span>
            </div>
          </div>
          <div class="row row-bt-1">
            <div class="col-xs-2 col-sm-2 pos-rel rel-left-1x">
                <!-- <i class="far fa-handshake text-primary fa-1x pos-abs abs-left"></i> -->
                Meeting Created</div>
            <div class="col-xs-4 col-sm-2">Amit Pandey <span class="text-small">Js, PSCL</span></div>
            <div class="col-xs-8 col-sm-2"><span class="d-block text-secondary2">14 Aug 2020 </span><span class="d-block text-secondary2">12:00 PM</span></div>
            <div class="col-xs-4 col-sm-2">Amit Pandey <span class="text-small">Js, PSCL</span></div>
            <div class="col-xs-12 col-sm-4">
              <a href="meeting_details.html" class="d-block"><span>Review meetings</span> Solid Waste management</a>
              <span class="text-secondary2">14 Aug 2020 12:00 PM</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>